{% extends 'TheDash/index.html' %}

{% block licp %}
<li class="sidebar-list-item active">
    {% endblock %}

    {% block current %}
    <h1 class="app-content-headerText">Contrôles Primaires/ Bouclage sur les Dedicated Account (DA)</h1>
    {% endblock %}

    {% block lesInfos %}
    <div id="bouclage">
        <div id="tablboucl" class="tbl-header"></div>
            <center>
                <div class="pl hidden" id="ADwait">
                    <div class="pl__dot"></div>
                    <div class="pl__dot"></div>
                    <div class="pl__dot"></div>
                    <div class="pl__dot"></div>
                    <div class="pl__dot"></div>
                    <div class="pl__dot"></div>
                    <div class="pl__dot"></div>
                    <div class="pl__dot"></div>
                    <div class="pl__dot"></div>
                    <div class="pl__dot"></div>
                    <div class="pl__dot"></div>
                    <div class="pl__dot"></div>
                    <div class="pl__text">Patientez…</div>
            </center>
       
    </div>
    </div>
    </div>
    {% endblock %}

    