
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <title>LOGIN</title>
</head>
<body>
<!-- <form class="login">
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <button>Login</button>
</form> -->
<div class="container">
    <div class="screen">
        <div class="screen__content">
            
            <form  class="login" action="{% url 'login'%}" method="POST">
             {% csrf_token %}
            {% if messages %}
            
            {% for message in messages %}
            <STRONG><span style="font-size: large;" class="button__text">{{message}}</span></STRONG>
            {% endfor %}
            
            {% endif %}
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" placeholder="Username " name="username" required>
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" placeholder="Password" name="password" id="password" onkeyup="checkCapsLock(event)" required>
                    <strong><div id="capsLockWarning"  class="button__text" style="display: none; color: rgb(4, 4, 4);">La touche Ver Maj est active.</div></strong>

                </div>
                <button class="button login__submit" type="submit">
                    <span class="button__text">Log In Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
               
            </form>
        
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>
  
</body>
<script src="{% static 'js/vermaj.js' %}"></script>
</html>

