{% extends 'TheDash/index.html' %}

{% block lira %}
<li class="sidebar-list-item active">
    {% endblock %}

    {% block current %}
    <h1 class="app-content-headerText">RA Checks/Réconciliation EWPvsERS</h1>
    {% endblock current %}

{% block form %}
   {% csrf_token %}       
    <label class="app-content-headerText">Date de début</label>
    <input type="text" class="search-bar" name="dateDebut" id="dateDebut" required>
    <label class="app-content-headerText">Date de fin</label>
    <input type="text" class="search-bar" name="dateFin" id="dateFin" required>
    <button class="app-content-headerButton" id="research">VALIDER</button>
    {% endblock %}
    
    {% block lesInfos %}
    <div id="bodyPage">
        <div id="chartContainer" style="height: 400px; width: 100%;">
        <center>
            <div class="pl hidden" id="waiting">
                <div class="pl__dot"></div>
                <div class="pl__dot"></div>
                <div class="pl__dot"></div>
                <div class="pl__dot"></div>
                <div class="pl__dot"></div>
                <div class="pl__dot"></div>
                <div class="pl__dot"></div>
                <div class="pl__dot"></div>
                <div class="pl__dot"></div>
                <div class="pl__dot"></div>
                <div class="pl__dot"></div>
                <div class="pl__dot"></div>
                <div class="pl__text">Patientez…</div>
        </center>
        </div>
    </div>
        <div id="tablResult" class="tbl-header"></div>
    </div>
{% endblock %}

    
    